.content-block {
    max-width: 1140px;
    margin: 0 auto;
    padding: 75px 20px;

    h2 {
        text-align: center;
    }

    .intro {
        text-align: center;
        max-width: 730px;
        width: 100%;
        margin: 0 auto 80px;
    }

    @include media($tablet) {
        padding: 150px 20px;
    }
}