.info-grid {
    @include clearfix();
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.info-grid__item {
    float: left;
    width: calc(33% - (40px / 3));
    margin-right: 20px;
    margin-bottom: 100px;

    &:nth-of-type(3n) {
        margin-right: 0;
    }

    img {
        margin: 0 auto 50px;
        display: block;
    }
}