.info-grid {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info-grid__item {
    width: 100%;
    margin-bottom: 50px;

    img {
        margin: 0 auto 25px;
        display: block;
    }

    @include media($tablet) {
        width: 30%;
        margin-bottom: 50px;

        img {
            margin: 0 auto 50px;
            display: block;
        }
    }
}