.row {
    background-color: $color-grey;

    .content-block {
        padding: 75px 20px;
    }

    @include media($tablet) {
        .content-block {
            padding: 100px 20px;
        }
    }
}