.split-block {
    @include clearfix;
    width: 100%;
    position: relative;
}

.split-block__image {
    display: block;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;

    @include media($tablet) {
        width: 62%;
        max-width: 640px;
        float: left;
    }
}

.split-block__text {
    width: 90%;
    margin: 0 auto;

    @include media($tablet) {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 30%;
    }
}

.split-block--reverse {
    @include media($tablet) {
        .split-block__image {
            float: right;
        }

        .split-block__text {
            right: auto;
            left: 0;
        }
    }
}