// colors
// ----------------------------------- //
$color-white:               #fff;
$color-black:               #000;

// breakpoints
// ----------------------------------- //
$tablet-wide:               1024px;
$tablet:                    768px;