// colors
// ----------------------------------- //
$color-white:               #fff;
$color-black:               #000;
$color-green:               #48E584;
$color-purple:              #39314C;
$color-dark-purple:         #251F31;
$color-grey:                #F5F5F5;

// breakpoints
// ----------------------------------- //
$desktop:                   1024px;
$tablet:                    768px;