.sponsor {
    display: inline-block;
    color: $color-white;
    text-decoration: none;
    vertical-align: top;
    margin-right: 70px;
}

.sponsor__logo {
    height: 21px;
    width: auto;
    margin-left: 8px;
    top: 2px;
    position: relative;
}